.PokemonDetails {
  width: 80%;
  max-width: 400px;
  border: 1px solid black;
  margin: auto;
  padding: 20px;
  background-color: white;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
  padding: 10px;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.PokemonLogo {
  padding-top: 30px;
  text-align: center;
}