.PokemonList{
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .PokemonList {
        grid-template-columns:  1fr 1fr;
        width: 80%;

    }
}

@media screen and (max-width: 350px) {
    .PokemonList {
        grid-template-columns: 1fr;
        width: 90%;

    }
}